@model ExpenseTracker.Models.EventoModel

<div class="modal fade" id="eventosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        @using (Html.BeginForm("AddEvent", "Calendar", new { @class = "form-horizontal form-label-left" }))
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar gasto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.start, htmlAttributes: new { @class = "date-picker control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.start, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.start, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Monto, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Monto, new { htmlAttributes = new { @class = "form-control", id = "txtAmountExpense" } })
                                @Html.ValidationMessageFor(model => model.Monto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <input type="submit" value="Agregar" class="btn btn-outline-primary" />
                </div>
            </div>}
    </div>
</div>

<script>
    document.getElementById("txtAmountExpense").onblur = function () {
        if(this.value != "")
            this.value = parseFloat(this.value).toFixed(2);
    }
</script>