@model ExpenseTracker.Models.ParentEventModel

@{
    ViewBag.Title = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var events = JSON.parse('@Html.Raw(Json.Encode(Model.eventos))');
        let today = new Date().toISOString().slice(0, 10);
        console.log(today);
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            initialDate: today,
            locale: 'es',
            height: 600,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: [

            ].concat(events)
        });

        calendar.render();
    });
</script>

<div role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h4>Presupuesto mensual: <span style="color: @ViewBag.Color">$ @ViewBag.GastoMes</span></h4>
                <h6>Gasto total del mes: <span style="color: @ViewBag.Color">$ @ViewBag.TotalGastos</span></h6>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a href="#" style="color: #73879C;" data-toggle="modal" data-target="#eventosModal"><i class="fa fa-plus"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <div id='calendar'></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
@Html.Partial("~/Views/Home/PartialViews/AddEvent.cshtml", Model.evento)